@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font: 16px "Poppins", sans-serif;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.education-wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* Reset and base styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font: inherit inherit;
  background: transparent;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  background: transparent;
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  background: #6484f3;
  position: relative;
  padding: 0px 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.header .container {
  max-width: 1260px;
  height: 150px;
  margin: 0px auto;
  padding: 40px 0;
  position: relative;
}

.footer {
  padding: 25px 0;
  background: #595959;
}

.footer__logo {
  background: #9db1f6;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  border-radius: 30px;
  padding: 15px 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__logo:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__logo--image {
  width: 180px;
}

.footer .container {
  max-width: 1260px;
  margin: 0 auto;
}

.footer .container .nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 80px;
  -moz-column-gap: 80px;
  column-gap: 80px;
  margin: 0 30px;
}

.footer__contact--item {
  margin-bottom: 10px;
}

.footer__contact--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}

.footer__contact--link span {
  color: #f97b51;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__contact--link:hover .phone-icon {
  color: #9db1f6;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__contact--link:hover .mail-icon {
  color: #9db1f6;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__documents--item {
  margin-bottom: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}

.footer__documents--item::after {
  background: #f5f5f5;
  content: "";
  position: absolute;
  width: 50%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  left: 25%;
  border-radius: 10px;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  margin: 0 auto;
}

.footer__documents--item:hover::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}

.footer__documents--item__documents--link {
  letter-spacing: 1.2px;
  -webkit-transition: all 1.3s ease;
  -o-transition: all 1.3s ease;
  transition: all 1.3s ease;
}

.footer__documents--item .footer__documents--link {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__documents--item .footer__documents--link:hover {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #f97b51;
}

.footer__messagers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__messagers--item {
  margin-right: 15px;
}

.footer__messagers--item:last-child {
  margin-right: 0;
}

.footer__messagers--link img {
  width: 35px;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.footer__messagers--link img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.rights {
  text-align: center;
  background: #303030;
  color: rgba(255, 255, 255, 0.7411764706);
  padding: 10px 0;
  font-size: 14px;
}

.open {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.burger {
  display: none;
  position: relative;
  top: 0;
  z-index: 50;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.burger span {
  background: #faf6f2;
  height: 2px;
  width: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.burger::before,
.burger::after {
  background: #faf6f2;
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

/* Добавляем класс active для анимации иконки бургера */

.burger.active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
  -ms-transform: rotate(-45deg) translate(0, -50%);
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0, 50%);
  -ms-transform: rotate(45deg) translate(0, 50%);
  transform: rotate(45deg) translate(0, 50%);
}

@-webkit-keyframes burgerAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.nav__logo {
  background: rgba(255, 255, 255, 0.3568627451);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 250px;
  height: 70px;
  border-radius: 40px;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.nav__logo--image {
  width: 200px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 70px;
  -moz-column-gap: 70px;
  column-gap: 70px;
}

.nav__item {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.2px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}

.nav__item::after {
  background: #f5f5f5;
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  left: 0;
  border-radius: 10px;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.nav__item:hover::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}

.nav__item::after:last-child {
  content: none;
}

.nav__last-item {
  font-size: 20px;
  font-weight: 600;
}

.nav__item--btn {
  background: -o-linear-gradient(320.46deg, #ff7b4e 15.57%, #ff584e 95.03%);
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 40px;
}

.nav__item--btn:hover {
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

.nav .rocket-image {
  position: absolute;
  left: -35px;
  top: 15px;
  width: 60px;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

.nav .rocket-image:hover {
  -webkit-transform: rotate(370deg);
  -ms-transform: rotate(370deg);
  transform: rotate(370deg);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.main .container {
  max-width: 1260px;
  margin: 0 auto;
}

.main .container .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1050px;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 100%;
  padding: 0 20px;
  text-align: center;
}

.main .container .about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  margin-bottom: 30px;
}

.main .container .about__card:last-child {
  margin-bottom: 0;
}

.main .container .about__card--text {
  font-size: 22px;
  font-weight: 600;
}

.main .container .about__card--text a {
  color: #000;
  text-align: center;
}

.main .container .about__header {
  text-align: center;
  margin: 30px 0;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 1.2px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.main .container .about__header:hover {
  color: #6283f5;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.main .container .about__image {
  width: 230px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main .container .about__image:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main .container .about__card:hover .about__card--text a {
  color: #ff7b4e;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

@supports (-webkit-appearance:none) {

}

@media (max-width: 1340px) {
  .nav__logo {
    width: 200px;
  }

  .nav__logo img {
    width: 160px;
  }

  .nav .rocket-image {
    width: 40px;
    left: -18px;
    top: 25px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1140px) {
  .footer__logo--image {
    width: 150px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1050px) {
  .nav__list {
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }

  .nav__item {
    font-size: 20px;
  }

  .nav__item--btn {
    font-size: 20px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 915px) {
  .footer .container .nav-footer {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    font-size: 14px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 900px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav__list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: #6484f3;
    -webkit-animation: burgerAnimation 0.4s;
    animation: burgerAnimation 0.4s;
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 40px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 850px) {
  .footer .container .nav-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
  }

  .footer .container .nav-footer .footer__logo {
    margin-bottom: 20px;
  }

  .footer .container .nav-footer .footer__contact {
    margin-top: 20px;
  }

  .footer .container .nav-footer .footer__documents {
    font-weight: 600;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 490px) {
  .header .container {
    height: 120px;
  }

  .nav__logo {
    width: 150px;
    height: 55px;
  }

  .nav__logo img {
    width: 120px;
  }

  .nav .rocket-image {
    left: -12px;
    top: 28px;
    width: 35px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 450px) {
  .main .container .about__image {
    width: 180px;
  }

  .main .container .about__header--text {
    font-size: 25px;
  }

  .main .container .about__card {
    margin-bottom: 20px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 420px) {
  .rights {
    padding: 10px 20px;
  }

@supports (-webkit-appearance:none) {

}
}