* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.education-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

@import "./block/reset.scss";
@import "./block/header-simple.scss";
@import "./block/footer.scss";
@import "./block/burger.scss";
@import "./block/nav.scss";
@import "./block/introduction-main.scss";
