$base-font-size: 16px;
// @mixin ph {
// 	@media (max-width: 700px) {
// 		@content;
// 	}
// }

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: $base-font-size;
	font-family: "Poppins", sans-serif;
	// @include ph {
	// 	color: #fff;
	// 	background-color: red;
	// }
}

@import "./block/*.scss";

@keyframes pulse {
	0% {
		transform: scale(0.95);
		opacity: 0.9;
	}

	50% {
		transform: scale(1);
		opacity: 1;
	}

	100% {
		transform: scale(0.95);
		opacity: 0.9;
	}
}
