<main class="main">
  <div class="container">
    <div class="container__inside">
      <div class="banner-training">
        <img class="banner-training__image" src="./img/03.jpg" alt="">
        <img class="banner-training__image--tablet" src="./img/04.jpg" alt="">
        <img class="banner-training__image--mobile" src="./img/05.jpg" alt="">
      </div>
      <div class="appeal">
        <h3 class="appeal__title">
          Українські діти, які сьогодні перебувають за межами своєї Батьківщини, мають отримати
          повноцінну якісну середню освіту
        </h3>
        <img class="appeal__image" src="./img/persons/01.png" alt="person-with-book">
        <img class="appeal__icon" src="./img/icons/05.png" alt="flag">
      </div>
    </div>

    <section class="about">
      <div class="about__title">
        <p class="about__text">Проєкт Euroland International School розпочинає свою діяльність на освітній базі
          Ліцею <span class="text-decotation" style="font-weight: 700; color: #ff7b4e">«Євроленд»</span>
          (Київ, Україна)
          у партнерстві з <span class="text-decotation" style="font-weight: 700; color: #ff7b4e">«TRADE HOUSE
            UKRAINA»</span>, Рига, Латві́йська
          Респу́бліка
        </p>
      </div>

      <div class="about__header">
        <img class="about__image" src="./img/persons/02.png" alt="">
        <h3 class="about__header--text">Euroland International School</h3>
      </div>

      <div class="about__block">
        <div class="about__card">
          <div class="about__card--number">1</div>
          <div class="about__card--text"><span style="font-weight: 700; color: #ff7b4e">Euroland International
              School</span>
            надаватиме можливість здобути
            початкову,
            базову та повну середню освіту дистанційно учням, які тимчасово чи постійно проживають за межами України
          </div>
        </div>

        <div class="about__card">
          <div class="about__card--number">2</div>
          <div class="about__card--text"><span style="font-weight: 700;">Дистанційне навчання</span> відбуватиметься у
            синхронному режимі, тобто
            уроки
            проводитимуться у режимі реального часу в освітньому цифровому онлайн середовищі Ліцею
            <span style="font-weight: 700; color: #ff7b4e">
              «Євроленд»
            </span>
          </div>
        </div>

        <div class="about__card">
          <div class="about__card--number">3</div>
          <div class="about__card--text">Інформаційно-консультативний центр <span
              style="font-weight: 700; color: #ff7b4e">Euroland International
              School</span>,
            створений та розміщений у <span style="font-weight: 700;">м.Рига, Латвійська республіка</span>,
            забеспечуватиме організаційний
            супровід проєкту в
            <span style="font-weight: 700;">Латвії,
              Литві, Польщі</span> та інших країнах <span style="font-weight: 700;">Євросоюзу</span>
          </div>
        </div>

        <div class=" about__card">
          <div class="about__card--number">4</div>
          <div class="about__card--text"><span style="font-weight: 700; color: #ff7b4e">Euroland International School
            </span>працює за освітніми програмами
            затвердженими та рекомендованими <span style="font-weight: 700;">Міністерством освіти і науки
              України</span>, а його випускники мають
            можливість
            отримати атестат про середню освіту державного зразка,
            що дає їм можливість вступу до вищих навчальних закладів <span style="font-weight: 700;">України</span> чи
            будь-якої іншої країни
            світу
          </div>
        </div>
      </div>
    </section>
    <div class="container__inside">
      <div class="location">
        <div class="location__block">
          <h4 class="location__text">
            <a class="location__link" href="https://goo.gl/maps/Bz8TZ3x3FARMWwf5A?coh=178572&entry=tt">Euroland
              International School розташована у Києві, Україна
            </a>
          </h4>
          <h4 class="location__text">
            <a class="location__link"
              href="https://goo.gl/maps/dYoYhRdXKfG2qsP89?coh=178572&entry=tt">Інформаційно-консультативний центр
              розташований у Ризі, Латвія
            </a>
          </h4>
        </div>
        <img class="location__image" src="./img/icons/06.png" alt="map">
        <img class="location__point" src="./img/icons/07.png" alt="point">
      </div>
    </div>

    <div>
      <div class="invocation">
        <h4 class="invocation__text">Чому саме наш Euroland International School</h4>
      </div>
      <div>
        <div class="container-inside">
          <ol class="rectangle">
            <li>30 років успішного досвіду у сфері приватної освіти</li>
            <li>3000 випускників</li>
            <li>Оптимальне поєднання сучасних освітніх</li>
            <li>
              Досконале опановування Державною освітньою програмою в умовах ефективного,
              мотивуючого та комфортного освітнього простору
            </li>
            <li>Якісна підготовка до ЗНО</li>
            <li>100% вступ випускників ліцею до вищих навчальних закладів</li>
          </ol>
        </div>
      </div>
    </div>
</main>