<footer id="contacts" class="footer">
  <div class="container">
    <nav class="nav-footer">
      <div class="footer__logo">
        <h2 class="header__logo">
          <a href="#!"><img class="footer__logo__image" src="../../img/header/logo-rezerv.png" alt=""></a>
        </h2>
      </div>
      <div class="nav__login nav__login--footer">
        <ul class="nav__list nav__list--gap nav__list--footer">
          <!--<li><a href="#!">&#129047; Address of the University &#129047;</a></li>-->
          <li>
            <a href="https://goo.gl/maps/JGh1ntqQ5ShynhXk8" class="location" target="_blank">Akademika
              Vernads'koho Blvd, 16В, Kyiv <span style="color: #6283F5">| Address of the University</span>
            </a>
          </li>
          <!--	<li><a href="#!">&#129047; Address of the hostels &#129047;</a></li>-->
          <li><a href="https://goo.gl/maps/y9kXwyhBnChkLaxc6" class="location">Mykoly Ushakova St, 8А, Kyiv,
              03179 <span style="color: #6283F5">| Address of the hostels</span></a>
          </li>
          <li><a href="https://goo.gl/maps/rcWaqvR6ir4jERoU7" class="location">Lytvynenko-Vol'hemut St, 1Г,
              Kyiv,
              02000 <span style="color: #6283F5">| Address of the hostels</span></a></li>
        </ul>
      </div>
      <div class="nav__login nav__login--footer">
        <ul class="nav__list nav__list--gap nav__list--footer">
          <li><a href="mailto:ietc@e-u.edu.ua" id="email">ietc@e-u.edu.ua</a></li>
          <li><a href="tel:+380444238075" id="phone">+38 (044) 423-80-75</a></li>
          <div class="massagers">
            <ul class="check">
              <li><a href="https://t.me/Be_Student_EU_Ukraine" target="_blank"><img src="../../img/icons/telegram.svg"
                    alt=""></a></li>
              <li><a href="https://instagram.com/euuniversitet?igshid=OGQ2MjdiOTE=" target="_blank"><img
                    src="../../img/icons/instagram.svg" alt=""></a></li>
              <li><a href="https://www.facebook.com/euuniversitet/" target="_blank"><img
                    src="../../img/icons/facebook.svg" alt=""></a></li>
              <li><a href="https://www.tiktok.com/@european_university" target="_blank"><img
                    src="../../img/icons/tiktok.svg" alt=""></a></li>
              <li><a href="https://www.youtube.com/channel/UCqCT22qK04Rrca59FO64_yA/videos" target="_blank"><img
                    src="../../img/icons/youtube.svg" alt=""></a></li>
            </ul>
          </div>
        </ul>
      </div>
    </nav>
  </div>
</footer>
<div class="rights">All rights reserved © <span></span>. European University</div>