<footer class="footer" id="contacts">
  <div class="container">
    <nav class="nav-footer">
      <div class="footer__logo">
        <a href="#"><img class="footer__logo--image" src="./img/logo.png" alt=""></a>
      </div>

      <ul class="footer__documents">
        <li class="footer__documents--item">
          <a class="footer__documents--link"
            href="https://drive.google.com/drive/folders/1nZrria-EV0APZMAmdkaowlguk79txcKz">
            Ліцензії
          </a>
        </li>
        <li class="footer__documents--item">
          <a class="footer__documents--link"
            href="https://drive.google.com/file/d/1UxL9hacalZ5SmuNHewD6nKPqkjWBS2Eq/view">
            Порядок зарахування/відрахування/переведення<br> учнів для дистанційної форми навчання
          </a>
        </li>
        <li class="footer__documents--item">
          <a class="footer__documents--link"
            href="https://drive.google.com/file/d/1FRvv5fD9ecRsaCne-9EbDaL32GoD-CNO/view?usp=share_link">Вартість
            навчання</a>
        </li>
        <li class="footer__documents--item">
          <a class="footer__documents--link"
            href="https://drive.google.com/file/d/1UnfkTetaBdZCi7LutXU778ESfk8gxyy6/view">Договір публічної оферти про
            надання освітніх
            послуг
          </a>
        </li>
      </ul>

      <ul class="footer__contact">
        <li style="margin-bottom: 20px;" class="footer__contact--item"><a class="footer__contact--link"
            href="mailto:international@euroland.school"><span class="material-symbols-outlined mail-icon">
              mail
            </span>international<br>@euroland.school</a></li>
        <li class="footer__contact--item">
          <a class="footer__contact--link" href="tel:+37167223390">
            <span class="material-symbols-outlined phone-icon">
              call
            </span>+371 67223390
          </a>
          <a class="footer__contact--link" href="tel:+37125463225">
            <span class="material-symbols-outlined phone-icon">
              call
            </span>+371 25463225
          </a>
        </li>
        <div class="footer__messagers">
          <li class="footer__messagers--item">
            <a class="footer__messagers--link" href="https://www.facebook.com/EurolandSchoolEU">
              <img src="./img/icons/facebook.svg" alt="facebook" /></a>
          </li>
          <li class="footer__messagers--item">
            <a class="footer__messagers--link" href="#"><img src="./img/icons/tiktok.svg" alt="tiktok" /></a>
          </li>
        </div>
      </ul>
  </div>
  </ul>
  </nav>
  </div>
</footer>
<div class="rights">All rights reserved © <span></span>. Euroland International School</div>