<footer class="footer" id="contacts">
  <div class="container">
    <nav class="nav-footer">
      <div class="footer__logo">
        <a href="#"><img class="footer__logo--image" src="./img/logo.png" alt=""></a>
      </div>

      <ul class="footer__documents">
        <li class="footer__documents--item">
          <a class="footer__documents--link" href="#">
            Ліцензія
          </a>
        </li>
        <li class="footer__documents--item">
          <a class="footer__documents--link" href="#">
            Порядок зарахування/відрахування/переведення<br> учнів для дистанційної форми навчання
          </a>
        </li>
        <li class="footer__documents--item">
          <a class="footer__documents--link" href="#">Вартість навчання</a>
        </li>
        <li class="footer__documents--item">
          <a class="footer__documents--link" href="#">Договір публічної оферти про надання освітніх
            послуг
          </a>
        </li>
      </ul>

      <ul class="footer__contact">
        <li style="margin-bottom: 20px;" class="footer__contact--item"><a class="footer__contact--link"
            href="mailto:ietc@e-u.edu.ua"><span class="material-symbols-outlined mail-icon">
              mail
            </span>iacrl@e-u.edu.ua</a></li>
        <li class="footer__contact--item">
          <a class="footer__contact--link" href="tel:+380444238075">
            <span class="material-symbols-outlined phone-icon">
              call
            </span>+371 67223390 <br> +371 25463225 (WhatsApp)
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
<div class="rights">All rights reserved © <span></span>. Euroland International School</div>