<header class="header">
  <div class="container">
    <nav class="nav">
      <div class="nav__logo">
        <a href="#">
          <img src="./img/logo.png" alt="logo" width="200">
        </a>
      </div>
      <img src="./img/icons/03.png" class="rocket-image" alt="rocket">
      <ul class="nav__list">
        <li class="nav__item">Про нас</li>
        <li class="nav__item">Освіта</li>
        <li class="nav__item">Контакти</li>
        <li class="nav__item">FAQ</li>
        <li class="nav__last-item">
          <a class="nav__item-btn" href="#">Головний Сайт</a>
        </li>
      </ul>
      <div class="burger">
        <span></span>
      </div>
    </nav>
    <div class="tizer">
      <div class="tizer__text">
        <h2 class="tizer__title">Euroland International School</h2>
        <div class="tizer__location">
          <a class="tizer__location--link"
            href="https://www.google.com/maps/d/viewer?mid=1p46jf1xH9PCjRM4VlUDd-D2lEKY&hl=en_US&ll=56.805389736868406%2C24.82292218652345&z=9">
            <span class="material-symbols-outlined" style="font-size: 35px">
              location_on
            </span>
            <p>Латвія</p>
          </a>
        </div>
        <p class="tizer__subtitle">Ви хочете бачити вашу дитину щасливою та успішною?</p>
        <p style="font-weight: 600;">Тоді вам потрібен <span class="tizer__subtitle--item">Euroland
            International School</span></p>
      </div>
      <div class="details">
        <a href="#" class="details__btn">Детальніше</a>
      </div>
      <img class="tizer__image" src="./img/02.png" alt="kids">
      <div class="tizer__circle"></div>
    </div>
  </div>
  <div class="header-line">
  </div>
</header>