<header class="header">
  <div class="container">
    <nav class="nav">
      <div class="nav__logo">
        <a href="./index.html">
          <img src="./img/logo.png" alt="logo" width="200">
        </a>
      </div>
      <img src="./img/icons/03.png" class="rocket-image" alt="rocket">
      <ul class="nav__list">
        <li class="nav__item"><a href="./education.html">Навчання</a></li>
        <li class="nav__item"><a href="./introduction.html">Вступ</a></li>
        <li class="nav__item"><a href="./index.html#contacts">Контакти</a></li>
        <li class="nav__last-item">
          <a class="nav__item--btn" href="http://euroland.e-u.in.ua/">Євроленд</a>
        </li>
      </ul>
      <div class="burger">
        <span></span>
      </div>
    </nav>
  </div>
</header>