<header class="header">
  <div class="container">
    <nav class="nav">
      <div class="nav__logo">
        <a href="#">
          <img class="nav__logo--image" src="./img/logo.png" alt="logo">
        </a>
      </div>
      <img src="./img/icons/03.png" class="rocket-image" alt="rocket">
      <ul class="nav__list">
        <li class="nav__item"><a href="./education.html">Навчання</a></li>
        <li class="nav__item"><a href="./education.html">Вступ</a></li>
        <li class="nav__item"><a href="#contacts">Контакти</a></li>
        <li class="nav__last-item">
          <a class="nav__item--btn" href="http://euroland.e-u.in.ua/">Євроленд</a>
        </li>
      </ul>
      <div class="burger">
        <span></span>
      </div>
    </nav>
    <div class="tizer">
      <div class="tizer__text">
        <h2 class="tizer__title">Euroland International School</h2>
        <p class="tizer__subtitle">Ви хочете бачити вашу дитину щасливою та успішною?</p>
        <p class="tizer__subtitle--last" style="font-weight: 600;">Тоді вам потрібен <span
            class="tizer__subtitle--item">Euroland
            International School</span></p>
      </div>
      <div class="details">
        <a href="#" class="details__btn">Детальніше</a>
      </div>
      <img class="tizer__image" src="./img/02.png" alt="kids">
      <div class="tizer__circle"></div>
    </div>
    <div class="tizer--mobile">
      <div class="tizer__text--mobile">
        <h2 class="tizer__title--mobile">Euroland International School</h2>
        <p class="tizer__subtitle--mobile">Ви хочете бачити вашу дитину щасливою та успішною?</p>
        <p class="tizer__subtitle--last--mobile" style="font-weight: 600;">Тоді вам потрібен <span
            class="tizer__subtitle--item--mobile">Euroland
            International School</span></p>
      </div>
      <div class="details">
        <a href="#" class="details__btn">Детальніше</a>
      </div>
    </div>
  </div>
  <div class="header-line">
  </div>
</header>