<main class="main">
  <div class="container">
    <div class="about">
      <div class="about__header">
        <img class="about__image" src="./img/persons/03.png" alt="">
        <h3 class="about__header--text">Детальна інформація про нормативну
          базу</h3>
      </div>
      <div class="about__block">
        <div class="about__card">
          <div class="about__card--number">1</div>
          <div class="about__card--text"><a class="about__card--link" href="#">Ліцензія</a></div>
        </div>

        <div class="about__card">
          <div class="about__card--number">2</div>
          <div class="about__card--text"><a class="about__card--link" href="#">Порядок
              зарахування/відрахування/переведення
              учнів для дистанційної форми навчання</a>
          </div>
        </div>

        <div class="about__card">
          <div class="about__card--number">3</div>
          <div class="about__card--text"><a class="about__card--link" href="#">Вартість навчання</a>
          </div>
        </div>

        <div class=" about__card">
          <div class="about__card--number">4</div>
          <div class="about__card--text"><a class="about__card--link" href="#">Договір публічної оферти про надання
              освітніх послуг</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>