@import "./variables.scss";

.main {
  position: relative;

  .container {
    max-width: $base-container;
    margin: 10px auto;
    padding: 20px 0;
    position: relative;

    &__inside {
      max-width: $base-inside-container;
      margin: 0 auto;
    }

    .banner-training {
      max-width: 800px;
      margin: 0 auto;
      padding: 0 30px;
      margin-bottom: 30px;
      border-radius: 30px;

      &__image {
        border-radius: 30px;
        border: $base-border--purple;

        &--tablet {
          display: none;
        }

        &--mobile {
          display: none;
        }
      }
    }

    .appeal {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 25px;
      border-radius: 40px;
      color: #fff;
      padding: 0px 30px;
      margin: 0 30px;
      background-color: $base-background--color;
      position: relative;
      height: 200px;
      box-shadow: $base-boxshadow;
      border: $base-border--orange;
      margin-bottom: 30px;

      &__title {
        width: 80%;
        margin-left: 40px;
      }

      &__image {
        width: 180px;
        position: absolute;
        right: -5px;
        top: -10px;
        transition: $base-transition;

        &:hover {
          transform: scale(1.03);
          transition: $base-transition;
        }
      }

      &__icon {
        position: absolute;
        border-radius: 50%;
        left: -20px;
        top: -20px;
        width: 60px;
        box-shadow: $base-boxshadow;
        border-top: $base-border--orange;
        border-left: $base-border--orange;
        transition: $base-transition;

        &:hover {
          transform: rotate(360deg);
          transition: $base-transition;
        }
      }
    }

    .about {
      &__title {
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 30px;
        z-index: 1;
        overflow: hidden;

        &::before,
        &::after {
          content: "";
          display: inline-block;
          width: 100%;
          height: 3px;
          background: #000;
          z-index: -1;
          position: relative;
          vertical-align: middle;
          border-radius: 20px;
          box-shadow: $base-boxshadow;
        }

        &::before {
          right: 15px;
          margin: 0 0 0 -100%;
        }

        &::after {
          left: 15px;
          margin: 0 -100% 0 0;
        }
      }

      &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 50px;
      }

      &__card {
        display: flex;
        align-items: center;
        column-gap: 30px;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        &--number {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #000;
          font-weight: 700;
          font-size: 18px;
        }

        &--text {
          font-size: 18px;
          font-weight: 500;
        }

        &--text a {
          color: #000;
        }
      }

      &__header {
        text-align: center;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 1.2px;
        transition: $base-transition;

        &:hover {
          color: $base-color;
          transition: $base-transition;
        }
      }

      &__image {
        width: 230px;
        margin: 10px 0;
        transition: $base-transition;

        &:hover {
          transform: $base-transform-scale;
          transition: $base-transition;
        }
      }

      .about__card:hover .about__card--number {
        color: $base-color;
        transition: $base-transition;
      }
    }

    .location {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: $base-fontSize--overMiddle;
      border-radius: $base-borderRadius;
      margin: 0 30px;
      color: #fff;
      padding: 0px 30px;
      background-color: #6685f1;
      height: 150px;
      box-shadow: $base-boxshadow;
      border: $base-border--orange;
      text-align: center;

      &__block {
        padding: 20px 30px;
      }

      &__image {
        width: 120px;
        position: absolute;
        right: 5px;
        top: -25px;
        transition: $base-transition;

        &:hover {
          transform: $base-transform-scale;
          transition: $base-transition;
        }
      }

      &__point {
        width: 80px;
        position: absolute;
        z-index: -1;
        left: -20px;
        top: -55px;
        transform: rotate(-22deg);
      }

      &__link {
        transition: $base-transition;
        &:hover {
          color: $primary-color;
        }
      }
    }
    .rectangle {
      counter-reset: li;
      list-style: none;
      padding: 0;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      max-width: 800px;
      margin: 30px auto;

      & li {
        position: relative;
        display: block;
        padding: 0.4em 0.4em 0.4em 0.8em;
        margin: 0.5em 0 0.5em 2.5em;
        background: #6283f5;
        color: #0f1f1c;
        text-decoration: none;
        transition: $base-transition;
        font-weight: 600;
        letter-spacing: 1px;
        border-radius: 8px;
        color: #fff;

        &:hover {
          background: $primary-color;

          &::before {
            background: $base-background--color;
            color: #fff;
            transition: $base-transition;
          }

          &::after {
            left: -0.5em;
            border-left-color: #9097a2;
          }
        }

        &::before {
          content: counter(li);
          counter-increment: li;
          position: absolute;
          left: -2.5em;
          top: 50%;
          margin-top: -1em;
          height: 2em;
          width: 2em;
          line-height: 2em;
          text-align: center;
          font-weight: 600;
          border-radius: 8px;
          background: $base-color;
          color: #fff;
        }

        &::after {
          position: absolute;
          content: "";
          border: 0.5em solid transparent;
          left: -1em;
          top: 50%;
          margin-top: -0.5em;
          transition: $base-transition;
        }
      }
    }

    .about-line {
      position: absolute;
      z-index: 3;
      left: 0;
      bottom: 50px;
      width: 100%;
      height: 30px;
      background-color: #b2c2f9;
      box-shadow: $base-boxshadow;
    }

    .invocation {
      &__text {
        margin-top: 30px;
        font-size: $base-fontSize--large;
        font-weight: 700;
        text-align: center;
      }
    }
  }
}

@media (max-width: 1050px) {
  .main {
    .container {
      .about {
        width: 800px;

        &__block {
          width: 800px;
        }

        &__card {
          margin-bottom: 20px;
        }

        &__title {
          font-size: 20px;
          max-width: 800px;
          margin-bottom: 20px;

          &::before {
            content: none;
          }

          &::after {
            content: none;
          }
        }
      }

      .banner-training {
        max-width: 700px;
      }

      .location {
        font-size: 22px;
        margin: 0 30px;
        padding: 0px 10px;

        &__image {
          width: 100px;
          top: -20px;
        }

        &__point {
          width: 70px;
          top: -45px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .main {
    .container {
      .banner-training {
        border: none;
        &__image {
          display: none;

          &--tablet {
            display: block;
            height: 550px;
            border: $base-border--purple;
            border-radius: $base-borderRadius;
            margin: 0 auto;
          }
        }
      }

      .appeal {
        font-size: 20px;
        padding: 0px 20px;

        &__title {
          margin-left: 20px;
        }

        &__image {
          width: 130px;
          right: -2px;
          top: 15px;
        }

        &__icon {
          left: -15px;
          top: -15px;
          width: 50px;
        }
      }

      .about {
        width: 600px;

        &__block {
          display: flex;
          max-width: 100%;
          align-items: center;
          justify-content: center;
          margin-bottom: 30px;
        }

        &__card {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
        }

        &__header {
          margin: 20px 0;
          &--text {
            font-size: $base-fontSize--middle;
          }
        }
      }

      .location {
        font-size: 20px;
        margin: 0 20px;
        padding: 0px 10px;

        &__image {
          width: 100px;
          top: -20px;
        }

        &__point {
          width: 60px;
          top: -40px;
          left: -15px;
        }
      }

      .invocation {
        &__text {
          margin-top: 30px;
          font-size: $base-fontSize--overMiddle;
        }
      }

      .rectangle {
        padding: 0 20px;
      }
    }
  }
}

@media (max-width: 680px) {
  .main {
    .container {
      .about {
        width: 400px;
        &__block {
          width: 400px;
          margin-bottom: 20px;
        }
        &__header {
          &--text {
            font-size: 20px;
          }
        }
      }

      .appeal {
        font-size: $base-fontSize--small;
        height: 180px;

        &__title {
          margin-left: 15px;
        }

        &__image {
          width: 100px;
          right: 15px;
          top: 25px;
        }

        &__icon {
          left: -10px;
          top: -10px;
          width: 40px;
        }
      }

      .location {
        font-size: $base-fontSize--small;

        &__image {
          display: none;
        }

        &__point {
          display: none;
        }
      }

      .invocation__text {
        font-size: $base-fontSize--middle;
      }

      .banner-training {
        &__image--tablet {
          display: none;
        }

        &__image--mobile {
          display: block;
          width: 400px;
          border: $base-border--purple;
          border-radius: 30px;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .main {
    .container {
      .appeal {
        &__title {
          width: 100%;
          text-align: center;
          margin-left: 0px;
        }

        &__image {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .main {
    .container {
      .about {
        width: 300px;
        &__block {
          width: 300px;
        }

        &__card {
          &--text {
            text-align: center;
          }
        }
      }
      .location {
        height: 200px;
      }
    }
  }
}
