.header {
  background-color: #6484f3;
  position: relative;
  padding: 0px 20px;
  overflow: hidden;
  .container {
    max-width: 1260px;
    height: 150px;
    margin: 0px auto;
    padding: 40px 0;
    position: relative;
  }
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
