@import "./variables.scss";

.header {
  background-color: $base-color;
  position: relative;
  padding: 0px 20px;
  overflow: hidden;
  .container {
    max-width: $base-container;
    height: 150px;
    margin: 0px auto;
    padding: 40px 0;
    position: relative;
  }
  box-shadow: $base-boxshadow;
}

@media (max-width: 490px) {
  .header {
    .container {
      height: 120px;
    }
  }
}
