@import "./variables.scss";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  &__logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 70px;
    background-color: #ffffff5b;
    border-radius: 40px;
    box-shadow: $base-boxshadow;

    &--image {
      width: 200px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 70px;
  }

  &__item {
    font-size: $base-fontSize--middle;
    font-weight: 600;
    letter-spacing: 1.2px;
    transition: $base-transition;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      bottom: -5px;
      left: 0;
      border-radius: 10px;
      background-color: #f5f5f5;
      transform-origin: bottom right;
      transition: transform 0.3s ease-out;
    }

    &:hover::after {
      transform: scale(1);
      transform-origin: bottom left;
    }

    &::after:last-child {
      content: none;
    }
  }

  &__last-item {
    font-size: 20px;
    font-weight: 600;
  }

  &__item--btn {
    background: linear-gradient(129.54deg, $primary-color 15.57%, $additional-color 95.03%);
    box-shadow: $base-boxshadow;
    padding: 10px 20px;
    border-radius: 40px;

    &:hover {
      transform: scale(2);
    }
  }

  .rocket-image {
    position: absolute;
    left: -35px;
    top: 15px;
    width: 60px;
    transform: rotate(10deg);

    &:hover {
      transform: rotate(370deg);
      transition: transform 0.5s ease;
    }
  }
}

@media (max-width: 1340px) {
  .nav {
    &__logo {
      width: 200px;

      img {
        width: 160px;
      }
    }

    .rocket-image {
      width: 40px;
      left: -18px;
      top: 25px;
    }
  }
}

@media (max-width: 1050px) {
  .nav {
    &__list {
      column-gap: 40px;
    }

    &__item {
      font-size: 20px;

      &--btn {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 490px) {
  .nav {
    &__logo {
      width: 150px;
      height: 55px;

      img {
        width: 120px;
      }
    }
    .rocket-image {
      left: -12px;
      top: 28px;
      width: 35px;
    }
  }
}
