.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  &__logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 70px;
    background-color: #ffffff5b;
    border-radius: 40px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 70px;
  }

  &__item {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.2px;
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      bottom: -5px;
      left: 0;
      border-radius: 10px;
      background-color: #f5f5f5;
      transform-origin: bottom right;
      transition: transform 0.3s ease-out;
    }

    &:hover::after {
      transform: scale(1);
      transform-origin: bottom left;
    }

    &::after:last-child {
      content: none;
    }
  }

  &__last-item {
    font-size: 20px;
    font-weight: 600;
  }

  &__item-btn {
    background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding: 10px 20px;
    border-radius: 40px;

    &:hover {
      transform: scale(2);
    }
  }

  .rocket-image {
    position: absolute;
    left: -35px;
    top: 15px;
    width: 60px;
    transform: rotate(10deg);

    &:hover {
      transform: rotate(370deg);
      transition: transform 0.5s ease;
    }
  }
}
