// Global variables
$base-font-family: "Poppins", sans-serif;
$base-container: 1260px;
$base-inside-container: 1100px;
$base-boxshadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$base-background--color: #6685f1;
$base-border--orange: 2px solid #ff584e;
$base-border--lightOrange: 2px solid #ff7b4e;
$base-border--purple: 2px solid #6685f1;
$base-transition: all 0.3s ease;
$base-color: #6685f1;
$primary-color: #ff7b4e;
$additional-color: #ff584e;
$base-transform-scale: scale(1.03);
$base-fontSize--large: 30px;
$base-fontSize--overMiddle: 25px;
$base-fontSize--middle: 22px;
$base-fontSize--small: 18px;
$base-borderRadius: 30px;

// Burger variables
$burger-color-white: #faf6f2;
